/* * {
    border: 1px solid red;
} */

html {
    border: 5px solid black;
    border-radius: 35px;
}

body {
    margin: 60px 80px 60px 80px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    /* display: inline; */
    font-size: 25px;
    margin-right: 80px;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}

.overlay-image {
    width: 70%;
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#guy {
    height: 100%;
}

.navbar {
    border: 1px solid pink; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    border: 1px solid red;
    align-items: center;
    font-family: Helvetica;
}

.links {
    display: flex;
    border: 1px solid blueviolet;
    font-size: 12px;
    align-items: center;
}

.link {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid blue;
}

.buttons {
    /* margin: 10px 10px 10px 10px; */
    border: 1px solid orange;
    position: relative;
}

.container {
    display: flex;
    border: 1px solid purple; 
}

.notifications {
    border: 1px solid cyan; 
    background: black;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 25px;
    margin: 23px;

}

.log-in {
    margin: 12px;
    background: none;
    border: none;
    font-size: 12px;
}

.sign-up {
    margin: 12px;
    background: black;
    color: white;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.hero {
    display: flex;
    background-color: #ffd9d9;
    height: 375px;
    width: 100%;
    border-radius: 25px;
}